*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style: disc;
    
}
a:focus, a:active {
    outline: none;
}
a,a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
}